<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffast.web.dao.sys.ResMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffast.web.entity.sys.Res">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="identity" property="identity"/>
        <result column="url" property="url"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_ids" property="parentIds"/>
        <result column="weight" property="weight"/>
        <result column="icon" property="icon"/>
        <result column="status" property="status"/>
        <result column="res_type" property="resType"/>
    </resultMap>

</mapper>
